@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var checkBoxList = (List<SelectListItem>)ViewBag.RoleList;
}

@if (TempData["RoleCreate"] != null)
{

    <div class="alert alert-primary" id="NotificationDiv" runat="server" role="alert">
        <span class="fe fe-alert-circle fe-16 mr-2" id="Notif   ication" runat="server">
            @TempData["RoleCreate"]
        </span>
    </div>
}



<form class="AdminCreateio" action="RoleInsert" method="post">


    <div class="col-md-12 my-4">

        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label for="custom-select-1">Select Users</label>
                            @Html.DropDownList("User_ID", (List<SelectListItem>)ViewBag.UserList, "Select Role", new { @class = "custom-select", id = "ID", onchange = "GetProcessOnUser(this)" })
                            <input type="hidden" id="UserName" name="UserName" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3 ">
                            <label for="custom-select-1">Select Role</label>
                            @foreach (var item in checkBoxList)
                            {
                                <div>
                                    
                                     <input type="checkbox"
                                           name="selectedProcesses"
                                           value="@item.Value"
                                           id="@item.Value" 
                                           class="process-checkbox" />
                                    <label for="@item.Value">@item.Text</label>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2 my-4">
        <div class="card-body d-flex justify-content-center align-items-center">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
</form>

<script>
    function GetProcessOnUser(user) {
        var UserID = user.value;
        $.ajax({
            url: '@Url.Action("GetRoleByRole", "Admin")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ ID: UserID }),

            success: function (response) {
                console.log(JSON.stringify(response))
                $(".process-checkbox").prop("checked", false);


                response.forEach(function (item) {
                    // Log the value of the checkbox and response to compare
                    console.log("Comparing checkbox id: " + item.value + " with checkbox id: " + $("#" + item.value).attr('id'));

                    if (item.selected) {
                       
                        console.log("Checked checkbox with id: " + item.value);
                    } else {
                        $("#" + item.value).prop("checked", true); // Check the checkbox
                    }
                });

            },
            error: function (xhr, status, error) {
                console.error("Error fetching admin users:", error);
            }
        });
    }
</script>
<script type="text/javascript">

    document.getElementById("ID").addEventListener("change", function () {
        var userName = this.options[this.selectedIndex].text;
        document.getElementById("UserName").value = userName;
    });
</script>