@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor

@{

    var mySessionValue = HttpContextAccessor.HttpContext.Session.GetString("UserType");
    var NotePadAcesss = HttpContextAccessor.HttpContext.Session.GetString("NotePadAcess");
    var serializedData = HttpContextAccessor.HttpContext.Session.GetString("RoleFeatures");
    var roleFeatureList = !string.IsNullOrEmpty(serializedData)
                            ? JsonConvert.DeserializeObject<List<dynamic>>(serializedData)
                            : new List<dynamic>();

    var serialiModule = HttpContextAccessor.HttpContext.Session.GetString("ModuleFeatures");
    var ModuleData = !string.IsNullOrEmpty(serialiModule)
                            ? JsonConvert.DeserializeObject<List<dynamic>>(serialiModule)
                            : new List<dynamic>();


}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>QMS</title>
    <link rel="stylesheet" href="~/css/simplebar.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/select2.css">
    <link rel="stylesheet" href="~/css/dropzone.css">
    <link rel="stylesheet" href="~/css/uppy.min.css">
    <link rel="stylesheet" href="~/css/feather.css">
    <link rel="stylesheet" href="~/css/jquery.steps.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/quill.snow.css">
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme" >
    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme" disabled>


    <style>
        .hover-orange {
        color: white;
        transition: color 0.3s ease;
        }

        .hover-orange:hover {
        color: #FF581C;
        }


    </style>
</head>
<body class="vertical  dark  " style="font-family: 'Overpass', sans-serif;
    font-size: 14px;">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar" onclick="toggleImage()">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>

            <ul class="nav align-items-center">

                <li class="nav-item nav-notif">
                    <span class="text-white font-weight-bold ml-3" style="font-size: 14px;">
                         @UserInfo.UserName
                    </span>
                </li>

                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <img src="~/images/user.png" alt="User Avatar" class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"
                         style="background-color: #24294a; border-radius: 5px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 10px; min-width: 200px;">
                        <span class="d-block text-white font-weight-bold ml-3" style="font-size: 14px;">
                            @UserInfo.UserName
                        </span>
                        <span class="d-block text-white ml-3" style="font-size: 12px; margin-top: 5px;">
                            @UserInfo.UserType
                        </span>
                        <a class="dropdown-item text-center mt-3"
                           style="color: black; font-size: 14px; background-color: #f4f5f7; border-radius: 4px; padding: 8px; text-decoration: none; transition: all 0.3s ease;"
                           href="@Url.Action("UserLogIn", "LogIn")">
                            Log Out
                        </a>
                    </div>
                </li>

            </ul>

        </nav>
        <aside class="sidebar-left" id="leftSidebar" data-simplebar >
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">

                <div class="w-100 mb-4 d-flex">
                   
                    <a href="/LogIn/RedirectBasedOnUser" class="navbar-brand mx-auto mt-2 flex-fill text-center">
                      
                        <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                            <g>
                                <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                                <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                                <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                            </g>
                        </svg>

                    </a>
                </div>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Components</span>
                </p>

                <ul class="navbar-nav flex-fill w-100 mb-2">
                    @if (mySessionValue == "SuperAdmin")

                    {
                        <li id="Create" runat="server" class="nav-item dropdown">
                            <a href="#ui-elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-box fe-16"></i>
                                <span class="ml-3 item-text hover-orange">Create</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("CreateAccount", "SuperAdmin")">
                                        <span class="ml-1 item-text hover-orange">Account</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("CreateUser", "SuperAdmin")"><span class="ml-1 item-text hover-orange">Users</span></a>
                                </li>

                            </ul>
                        </li>

                        <li id="Reports" runat="server" class="nav-item dropdown">
                            <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-credit-card fe-16"></i>
                                <span class="ml-3 item-text hover-orange">Reports</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="forms">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="./form_elements.html"><span class="ml-1 item-text hover-orange">Dump Report</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="./form_advanced.html"><span class="ml-1 item-text hover-orange">Row Dump </span></a>
                                </li>

                            </ul>
                        </li>
                    }

                    @if (NotePadAcesss == "Yes")
                    {
                        <li class="nav-item dropdown" id="Upload2" runat="server">
                            <a href="#charts3" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-pie-chart fe-16"></i>
                                <span class="ml-3 item-text hover-orange">Notepad</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="charts3">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("UseNotpad", "Notpad")"><span class="ml-1 item-text hover-orange">Use NotePad</span></a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if ((mySessionValue == "Admin") || (mySessionValue == "SiteAdmin"))
                    {
                        <li class="nav-item dropdown" id="Upload" runat="server">
                            <a href="#charts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-pie-chart fe-16"></i>
                                <span class="ml-3 item-text hover-orange">Program</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="charts">

                                @if (mySessionValue == "Admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("CreateProcess", "Admin")"><span class="ml-1 item-text hover-orange">Process Create</span></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("CreateSubProcess", "Admin")"><span class="ml-1 item-text hover-orange">Sub-Process</span></a>
                                    </li>
                                }
                                else if (mySessionValue == "SiteAdmin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("CreateProcessBySiteAdmin", "Module")"><span class="ml-1 item-text hover-orange">Process Create</span></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("CreateSubProcess", "Module")"><span class="ml-1 item-text hover-orange">Sub-Process</span></a>
                                    </li>
                                }


                            </ul>
                        </li>

                        <li id="table" class="nav-item dropdown" runat="server">
                            <a href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-grid fe-16"></i>
                                <span class="ml-3 item-text hover-orange">User</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="tables">
                                @if (mySessionValue == "Admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("CreateUser", "Admin")"><span class="ml-1 item-text hover-orange">Create</span></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("UploadUsers", "Admin")"><span class="ml-1 item-text hover-orange">Uplode Users</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("ProcessAssign", "Admin")"><span class="ml-1 item-text hover-orange">Assign Process</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("RoleMapping", "Admin")"><span class="ml-1 item-text hover-orange">Manage Role</span></a>
                                    </li>
                                }
                                else if (mySessionValue == "SiteAdmin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("CreateUser", "Module")"><span class="ml-1 item-text hover-orange">Create</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("UploadUsers", "Module")"><span class="ml-1 item-text hover-orange">Uplode Users</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("ProcessAssign", "Module")"><span class="ml-1 item-text hover-orange">Assign Process</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("RoleMapping", "Module")"><span class="ml-1 item-text hover-orange">Manage Role</span></a>
                                    </li>
                                }


                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="ViewUser" runat="server">
                            <a href="#pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-file fe-16"></i>
                                <span class="ml-3 item-text hover-orange"> Feature</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100 w-100" id="pages">
                                @if (mySessionValue == "Admin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("FeatureMapping", "Admin")"><span class="ml-1 item-text hover-orange">Assign Feature </span></a>
                                    </li>

                                }
                                else if (mySessionValue == "SiteAdmin")
                                {
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("FeatureMapping", "Module")"><span class="ml-1 item-text hover-orange">Assign Feature </span></a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("Notpad", "Notpad")"><span class="ml-1 item-text hover-orange">Assign Notepad Access</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link pl-3" href="@Url.Action("CreateFormula", "Report")"><span class="ml-1 item-text hover-orange">Create Template</span></a>
                                    </li>
                                }


                            </ul>
                        </li>

                    }

                    <ul class="navbar-nav">
                        @foreach (var role in roleFeatureList)
                        {


                            <li class="nav-item dropdown">
                                <a href="#role-@role.RoleId" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                    <i class="fe fe-users fe-16"></i>
                                    <span class="ml-3 item-text hover-orange">@role.RoleName</span>
                                </a>
                                <ul class="collapse list-unstyled pl-4 w-100" id="role-@role.RoleId">

                                    @foreach (var module in ModuleData)
                                    {
                                        @if (module.RoleId == @role.RoleId)
                                        {
                                            <li>

                                                <a class="nav-link pl-3" href="/Module/Modules?roleid=@role.RoleId&ModuleName=@module.ModuleName">
                                                    <span class="ml-1 hover-orange">@module.ModuleName</span>
                                                </a>
                                            </li>
                                        }

                                    }

                                    @foreach (var feature in role.Features)
                                    {
                                        <li class="nav-item dropdown">
                                            <a href="#feature-@feature.FeatureId" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                                <i class="fe fe-cogs fe-16"></i>
                                               
                                                @if (@feature.FeatureId == "2")
                                                {
                                                    <a href="/Module/FetureSubFeture?RoleName=@role.RoleName&Featureid=@feature.FeatureId&SubFeatureid=@feature.FeatureId" style="color: white;" class="ml-3 item-text hover-orange">
                                                        @feature.FeatureName
                                                    </a>

                                                }
                                                else
                                                {
                                                    <span class="ml-3 item-text hover-orange">@feature.FeatureName</span>
                                                }
                                            </a>
                                            <ul class="collapse list-unstyled pl-4 w-100" id="feature-@feature.FeatureId">

                                                @if(@feature.FeatureId == "2")
                                                {

                                                }
                                                else
                                                {
                                                    @foreach (var subFeature in feature.SubFeatures)
                                                    {
                                                        <li>
                                                            <a class="nav-link pl-3" href="/Module/FetureSubFeture?RoleName=@role.RoleName&Featureid=@feature.FeatureId&SubFeatureid=@subFeature.SubFeatureId">
                                                                <span style="content: '• '; display: inline-block; margin-right: 5px;">•</span>
                                                                <span class="ml-1 hover-orange">@subFeature.SubFeatureName</span>
                                                            </a>

                                                        </li>
                                                    }
                                                }

                                             
                                                    </ul>
                                                </li>
                                    }
                                    </ul>
                                </li>
                        }
                    </ul>


                </ul>


            </nav>
        </aside>
      @*   <main role="main" class="main-content">
            @RenderBody()
        </main> *@
        <main role="main" class="main-content" style="max-height: 100vh; overflow-y: auto;">
            @RenderBody()
            <div style="margin-bottom:90px;">

            </div>
        </main>

    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src='~/js/daterangepicker.js'></script>
    <script src='~/js/jquery.stickOnScroll.js'></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/d3.min.js"></script>
    <script src="~/js/topojson.min.js"></script>
    <script src="~/js/datamaps.all.min.js"></script>
    <script src="~/js/datamaps-zoomto.js"></script>
    <script src="~/js/datamaps.custom.js"></script>
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/apps.js"></script>
    <script src="~/js/gauge.min.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/apexcharts.custom.js"></script>
    <script src='~/js/jquery.mask.min.js'></script>
    <script src='~/js/select2.min.js'></script>
    <script src='~/js/jquery.steps.min.js'></script>
    <script src='~/js/jquery.validate.min.js'></script>
    <script src='~/js/jquery.timepicker.js'></script>
    <script src='~/js/dropzone.min.js'></script>
    <script src='~/js/uppy.min.js'></script>
    <script src='~/js/quill.min.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


    <script>
              // Always apply dark theme
        document.addEventListener('DOMContentLoaded', function() {
            var dark = document.getElementById("darkTheme");
            var light = document.getElementById("lightTheme");

            // Force dark theme
            dark.disabled = false;
            light.disabled = true;

            // Always store "dark" in localStorage to avoid future switches
            localStorage.setItem("mode", "dark");

            console.log("Dark theme applied permanently.");
        });

    </script>




</body>
</html>