@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor

@{
    var mySessionValue = HttpContextAccessor.HttpContext.Session.GetString("UserType");
    var Features = HttpContextAccessor.HttpContext.Session.GetString("FeatureList");

    var featureListJson = HttpContextAccessor.HttpContext.Session.GetString("FeatureList");
    var distinctFeatureNames = string.IsNullOrEmpty(featureListJson)
        ? new List<string>()
        : JsonConvert.DeserializeObject<List<string>>(featureListJson);


    var roleFeatureMappingJson = HttpContextAccessor.HttpContext.Session.GetString("RoleFeatureMapping");
    var roleFeatureMapping = string.IsNullOrEmpty(roleFeatureMappingJson)
        ? new Dictionary<string, List<string>>()
        : JsonConvert.DeserializeObject<Dictionary<string, List<string>>>(roleFeatureMappingJson);

}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>QMS</title>
    <link rel="stylesheet" href="~/css/simplebar.css">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/select2.css">
    <link rel="stylesheet" href="~/css/dropzone.css">
    <link rel="stylesheet" href="~/css/uppy.min.css">
    <link rel="stylesheet" href="~/css/feather.css">
    <link rel="stylesheet" href="~/css/jquery.steps.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">
    <link rel="stylesheet" href="~/css/quill.snow.css">
    <link rel="stylesheet" href="~/css/daterangepicker.css">
    <link rel="stylesheet" href="~/css/app-light.css" id="lightTheme">

    <link rel="stylesheet" href="~/css/app-dark.css" id="darkTheme" disabled>
</head>
<body class="vertical  light  ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar" onclick="toggleImage()">
                <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>
            <form class="form-inline mr-auto searchform text-muted">
                <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
            </form>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="light">
                        <i class="fe fe-sun fe-16"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
                        <span class="fe fe-grid fe-16"></span>
                    </a>
                </li>
                <li class="nav-item nav-notif">
                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
                        <span class="fe fe-bell fe-16"></span>
                        <span class="dot dot-md bg-success"></span>
                    </a>
                </li>

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="avatar avatar-sm mt-2">
                            <img src="~/images/user.png" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="@Url.Action("UserLogIn", "LogIn")">Log Out</a>
                        
                    </div>
                </li>
            </ul>
        </nav>
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
                <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">

                    <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="@Url.Action("Dashboard", "SuperAdmin")">
                        <img id="logoImage" src="@Url.Content("~/Images/mainLogo.png")" style="margin-left:-10px" />

                    </a>
                </div>

                <p class="text-muted nav-heading mt-4 mb-1">
                    <span>Components</span>
                </p>

                <ul class="navbar-nav flex-fill w-100 mb-2">
                    @if (mySessionValue == "SuperAdmin")

                    {
                        <li id="Create" runat="server" class="nav-item dropdown">
                            <a href="#ui-elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-box fe-16"></i>
                                <span class="ml-3 item-text">Create</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("CreateAccount", "SuperAdmin")">
                                        <span class="ml-1 item-text">Account</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("CreateUser", "SuperAdmin")"><span class="ml-1 item-text">Users</span></a>
                                </li>

                            </ul>
                        </li>

                        <li id="Reports" runat="server" class="nav-item dropdown">
                            <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-credit-card fe-16"></i>
                                <span class="ml-3 item-text">Reports</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="forms">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="./form_elements.html"><span class="ml-1 item-text">Dump Report</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="./form_advanced.html"><span class="ml-1 item-text">Row Dump </span></a>
                                </li>

                            </ul>
                        </li>
                    }

                    @if (mySessionValue == "Admin")
                    {
                        <li class="nav-item dropdown" id="Upload" runat="server">
                            <a href="#charts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-pie-chart fe-16"></i>
                                <span class="ml-3 item-text">Program</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100"  id="charts">

                               
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("CreateProcess", "Admin")"><span class="ml-1 item-text">Process Create</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("CreateSubProcess", "Admin")"><span class="ml-1 item-text">Sub-Process</span></a>
                                </li>
                            </ul>
                        </li>

                        <li id="table" class="nav-item dropdown" runat="server">
                            <a href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-grid fe-16"></i>
                                <span class="ml-3 item-text">User</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="tables">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("CreateUser", "Admin")"><span class="ml-1 item-text">Create</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("ProcessAssign", "Admin")"><span class="ml-1 item-text">Process Assign</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("RoleMapping", "Admin")"><span class="ml-1 item-text">Role Assign</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="@Url.Action("FeatureMapping", "Admin")"><span class="ml-1 item-text">Feature </span></a>
                                </li>
                            </ul>
                        </li>


                    }
                    @if (mySessionValue == "QE")
                    {
                        <li id="UserReport" class="nav-item dropdown" runat="server">
                            <a href="#contact" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-book fe-16"></i>
                                <span class="ml-3 item-text">user Report</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="contact">
                                <a class="nav-link pl-3" href="./contacts-list.html"><span class="ml-1">Report 1</span></a>
                                <a class="nav-link pl-3" href="./contacts-grid.html"><span class="ml-1">Report 2</span></a>
                                <a class="nav-link pl-3" href="./contacts-new.html"><span class="ml-1">Report 3</span></a>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="QAForm" runat="server">
                            <a href="#layouts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-layout fe-16"></i>
                                <span class="ml-3 item-text">Quality</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100" id="layouts">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="./index.html"><span class="ml-1 item-text">QA Form</span></a>
                                </li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="ViewUser" runat="server">
                            <a href="#pages" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                <i class="fe fe-file fe-16"></i>
                                <span class="ml-3 item-text">View</span>
                            </a>
                            <ul class="collapse list-unstyled pl-4 w-100 w-100" id="pages">
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="./page-orders.html">
                                        <span class="ml-1 item-text">Calibration View</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link pl-3" href="./page-timeline.html">
                                        <span class="ml-1 item-text">Dispute View</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    }
                    @if (roleFeatureMapping != null)
                    {
                        if (roleFeatureMapping.ContainsKey("HR"))
                        {
                            var hrFeatures = roleFeatureMapping["HR"];
                            <li class="nav-item dropdown" id="AccessMaster" runat="server">
                                <a href="#HR" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                    <i class="fe fe-file fe-16"></i>
                                    <span class="ml-3 item-text">HR</span>
                                </a>
                                <ul class="collapse list-unstyled pl-4 w-100 w-100" id="HR">
                                    @if (hrFeatures.Contains("Sampling"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Sampling</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZTP Sign off triggers"))
                                    {
                                        <li class="nav-item" runat="server" id="ztp_sign_off_triggers">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZTP Sign off triggers</span>
                                            </a>
                                        </li>
                                    }

                                    @if (hrFeatures.Contains("Work allocation"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Work allocation</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Monitoring workflow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Monitoring workflow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Feedback Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Feedback Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Dispute Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Dispute Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Calibration"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Calibration</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Coaching"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Coaching</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Skill verification"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Skill verification</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Update Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Update Management</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZT Work flow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZT Work flow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Agent Survey"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Agent Survey</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Outlier Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Outlier Management</span>
                                            </a>
                                        </li>
                                    }
                                    
                                </ul>
                            </li>
                        }
                        if (roleFeatureMapping.ContainsKey("SiteAdmin"))
                        {
                            var hrFeatures = roleFeatureMapping["SiteAdmin"];
                            <li class="nav-item dropdown" id="AccessMaster" runat="server">
                                <a href="#SiteAdmin" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                    <i class="fe fe-file fe-16"></i>
                                    <span class="ml-3 item-text">SiteAdmin</span>
                                </a>
                                <ul class="collapse list-unstyled pl-4 w-100 w-100" id="SiteAdmin">
                                    @if (hrFeatures.Contains("Sampling"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Sampling</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZTP Sign off triggers"))
                                    {
                                        <li class="nav-item" runat="server" id="ztp_sign_off_triggers">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZTP Sign off triggers</span>
                                            </a>
                                        </li>
                                    }

                                    @if (hrFeatures.Contains("Work allocation"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Work allocation</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Monitoring workflow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Monitoring workflow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Feedback Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Feedback Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Dispute Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Dispute Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Calibration"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Calibration</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Coaching"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Coaching</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Skill verification"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Skill verification</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Update Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Update Management</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZT Work flow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZT Work flow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Agent Survey"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Agent Survey</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Outlier Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Outlier Management</span>
                                            </a>
                                        </li>
                                    }
                                    
                                </ul>
                            </li>
                        }

                         if (roleFeatureMapping.ContainsKey("Account Level Admin"))
                        {
                            var hrFeatures = roleFeatureMapping["Account Level Admin"];
                            <li class="nav-item dropdown" id="AccessMaster" runat="server">
                                <a href="#Account_Level_Admin" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                    <i class="fe fe-file fe-16"></i>
                                    <span class="ml-3 item-text">Account Level Admin</span>
                                </a>
                                <ul class="collapse list-unstyled pl-4 w-100 w-100" id="Account_Level_Admin">
                                    @if (hrFeatures.Contains("Sampling"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Sampling</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZTP Sign off triggers"))
                                    {
                                        <li class="nav-item" runat="server" id="ztp_sign_off_triggers">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZTP Sign off triggers</span>
                                            </a>
                                        </li>
                                    }

                                    @if (hrFeatures.Contains("Work allocation"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Work allocation</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Monitoring workflow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Monitoring workflow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Feedback Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Feedback Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Dispute Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Dispute Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Calibration"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Calibration</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Coaching"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Coaching</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Skill verification"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Skill verification</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Update Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Update Management</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZT Work flow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZT Work flow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Agent Survey"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Agent Survey</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Outlier Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Outlier Management</span>
                                            </a>
                                        </li>
                                    }
                                    
                                </ul>
                            </li>
                        }

                         if (roleFeatureMapping.ContainsKey("QA Manager"))
                        {
                            var hrFeatures = roleFeatureMapping["QA Manager"];
                            <li class="nav-item dropdown" id="" runat="server">
                                <a href="#QA_Manager" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                    <i class="fe fe-file fe-16"></i>
                                    <span class="ml-3 item-text">QA Manager</span>
                                </a>
                                <ul class="collapse list-unstyled pl-4 w-100 w-100" id="QA_Manager">
                                    @if (hrFeatures.Contains("Sampling"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-ordAccessMasterers.html">
                                                <span class="ml-1 item-text">Sampling</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZTP Sign off triggers"))
                                    {
                                        <li class="nav-item" runat="server" id="ztp_sign_off_triggers">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZTP Sign off triggers</span>
                                            </a>
                                        </li>
                                    }

                                    @if (hrFeatures.Contains("Work allocation"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Work allocation</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Monitoring workflow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Monitoring workflow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Feedback Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Feedback Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Dispute Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Dispute Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Calibration"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Calibration</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Coaching"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Coaching</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Skill verification"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Skill verification</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Update Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Update Management</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZT Work flow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZT Work flow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Agent Survey"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Agent Survey</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Outlier Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Outlier Management</span>
                                            </a>
                                        </li>
                                    }
                                    
                                </ul>
                            </li>
                        }

                         if (roleFeatureMapping.ContainsKey("Monitor Supervsior"))
                        {
                            var hrFeatures = roleFeatureMapping["Monitor Supervsior"];
                            <li class="nav-item dropdown" id="AccessMaster" runat="server">
                                <a href="#Monitor" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                    <i class="fe fe-file fe-16"></i>
                                    <span class="ml-3 item-text">Monitor Supervsior</span>
                                </a>
                                <ul class="collapse list-unstyled pl-4 w-100 w-100" id="Monitor">
                                    @if (hrFeatures.Contains("Sampling"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Sampling</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZTP Sign off triggers"))
                                    {
                                        <li class="nav-item" runat="server" id="ztp_sign_off_triggers">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZTP Sign off triggers</span>
                                            </a>
                                        </li>
                                    }

                                    @if (hrFeatures.Contains("Work allocation"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Work allocation</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Monitoring workflow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Monitoring workflow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Feedback Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Feedback Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Dispute Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Dispute Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Calibration"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Calibration</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Coaching"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Coaching</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Skill verification"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Skill verification</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Update Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Update Management</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZT Work flow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZT Work flow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Agent Survey"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Agent Survey</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Outlier Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Outlier Management</span>
                                            </a>
                                        </li>
                                    }
                                    
                                </ul>
                            </li>
                        }

                        if (roleFeatureMapping.ContainsKey("Monitor"))
                        {
                            var hrFeatures = roleFeatureMapping["Monitor"];
                            <li class="nav-item dropdown" id="AccessMaster" runat="server">
                                <a href="#Monitor_2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                    <i class="fe fe-file fe-16"></i>
                                    <span class="ml-3 item-text">Monitor</span>
                                </a>
                                <ul class="collapse list-unstyled pl-4 w-100 w-100" id="Monitor_2">
                                    @if (hrFeatures.Contains("Sampling"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Sampling</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZTP Sign off triggers"))
                                    {
                                        <li class="nav-item" runat="server" id="ztp_sign_off_triggers">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZTP Sign off triggers</span>
                                            </a>
                                        </li>
                                    }

                                    @if (hrFeatures.Contains("Work allocation"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Work allocation</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Monitoring workflow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Monitoring workflow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Feedback Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Feedback Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Dispute Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Dispute Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Calibration"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Calibration</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Coaching"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Coaching</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Skill verification"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Skill verification</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Update Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Update Management</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZT Work flow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZT Work flow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Agent Survey"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Agent Survey</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Outlier Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Outlier Management</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </li>
                        }

                         if (roleFeatureMapping.ContainsKey("Account Head"))
                        {
                            var hrFeatures = roleFeatureMapping["Account Head"];
                            <li class="nav-item dropdown" id="AccessMaster" runat="server">
                                <a href="#Account_Head" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                    <i class="fe fe-file fe-16"></i>
                                    <span class="ml-3 item-text">Account Head</span>
                                </a>
                                <ul class="collapse list-unstyled pl-4 w-100 w-100" id="Account_Head">
                                    @if (hrFeatures.Contains("Sampling"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Sampling</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZTP Sign off triggers"))
                                    {
                                        <li class="nav-item" runat="server" id="ztp_sign_off_triggers">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZTP Sign off triggers</span>
                                            </a>
                                        </li>
                                    }

                                    @if (hrFeatures.Contains("Work allocation"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Work allocation</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Monitoring workflow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Monitoring workflow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Feedback Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Feedback Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Dispute Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Dispute Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Calibration"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Calibration</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Coaching"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Coaching</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Skill verification"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Skill verification</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Update Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Update Management</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZT Work flow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZT Work flow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Agent Survey"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Agent Survey</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Outlier Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Outlier Management</span>
                                            </a>
                                        </li>
                                    }
                                    
                                </ul>
                            </li>
                        }

                        if (roleFeatureMapping.ContainsKey("MIS"))
                        {
                            var hrFeatures = roleFeatureMapping["MIS"];
                            <li class="nav-item dropdown" id="AccessMaster" runat="server">
                                <a href="#MIS" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                                    <i class="fe fe-file fe-16"></i>
                                    <span class="ml-3 item-text">MIS</span>
                                </a>
                                <ul class="collapse list-unstyled pl-4 w-100 w-100" id="MIS">
                                    @if (hrFeatures.Contains("Sampling"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Sampling</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZTP Sign off triggers"))
                                    {
                                        <li class="nav-item" runat="server" id="ztp_sign_off_triggers">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZTP Sign off triggers</span>
                                            </a>
                                        </li>
                                    }

                                    @if (hrFeatures.Contains("Work allocation"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Work allocation</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Monitoring workflow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Monitoring workflow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Feedback Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Feedback Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Dispute Process"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Dispute Process</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Calibration"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Calibration</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Coaching"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Coaching</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Skill verification"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Skill verification</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Update Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Update Management</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("ZT Work flow"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">ZT Work flow</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Agent Survey"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Agent Survey</span>
                                            </a>
                                        </li>
                                    }
                                    @if (hrFeatures.Contains("Outlier Management"))
                                    {
                                        <li class="nav-item" runat="server" id="sampling">
                                            <a class="nav-link pl-3" href="./page-orders.html">
                                                <span class="ml-1 item-text">Outlier Management</span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </li>
                        }

                       
                    }
                   

                </ul>


            </nav>
        </aside>
        <main role="main" class="main-content">
            @RenderBody()
        </main>
    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/simplebar.min.js"></script>
    <script src='~/js/daterangepicker.js'></script>
    <script src='~/js/jquery.stickOnScroll.js'></script>
    <script src="~/js/tinycolor-min.js"></script>
    <script src="~/js/config.js"></script>
    <script src="~/js/d3.min.js"></script>
    <script src="~/js/topojson.min.js"></script>
    <script src="~/js/datamaps.all.min.js"></script>
    <script src="~/js/datamaps-zoomto.js"></script>
    <script src="~/js/datamaps.custom.js"></script>
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/apps.js"></script>
    <script src="~/js/gauge.min.js"></script>
    <script src="~/js/jquery.sparkline.min.js"></script>
    <script src="~/js/apexcharts.min.js"></script>
    <script src="~/js/apexcharts.custom.js"></script>
    <script src='~/js/jquery.mask.min.js'></script>
    <script src='~/js/select2.min.js'></script>
    <script src='~/js/jquery.steps.min.js'></script>
    <script src='~/js/jquery.validate.min.js'></script>
    <script src='~/js/jquery.timepicker.js'></script>
    <script src='~/js/dropzone.min.js'></script>
    <script src='~/js/uppy.min.js'></script>
    <script src='~/js/quill.min.js'></script>
    <script>
        function toggleImage() {
            const img = document.querySelector('#logoImage');

            // Check if the current src includes "mainLogo.png"
            if (img.src.includes('mainLogo.png')) {
                img.src = '@Url.Content("~/Images/favicon.ico")'; // Set to favicon
            } else {
                img.src = '@Url.Content("~/Images/mainLogo.png")'; // Set to main logo
            }
        }
    </script>
    <script>
        /* defind global options */
        Chart.defaults.global.defaultFontFamily = base.defaultFontFamily;
        Chart.defaults.global.defaultFontColor = colors.mutedColor;
    </script>

    <script>
        $('.select2').select2(
            {
                theme: 'bootstrap4',
            });
        $('.select2-multi').select2(
            {
                multiple: true,
                theme: 'bootstrap4',
            });
        $('.drgpicker').daterangepicker(
            {
                singleDatePicker: true,
                timePicker: false,
                showDropdowns: true,
                locale:
                {
                    format: 'MM/DD/YYYY'
                }
            });
        $('.time-input').timepicker(
            {
                'scrollDefault': 'now',
                'zindex': '9999' /* fix modal open */
            });
        /** date range picker */
        if ($('.datetimes').length) {
            $('.datetimes').daterangepicker(
                {
                    timePicker: true,
                    startDate: moment().startOf('hour'),
                    endDate: moment().startOf('hour').add(32, 'hour'),
                    locale:
                    {
                        format: 'M/DD hh:mm A'
                    }
                });
        }
        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }
        $('#reportrange').daterangepicker(
            {
                startDate: start,
                endDate: end,
                ranges:
                {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
        cb(start, end);
        $('.input-placeholder').mask("00/00/0000",
            {
                placeholder: "__/__/____"
            });
        $('.input-zip').mask('00000-000',
            {
                placeholder: "____-___"
            });
        $('.input-money').mask("#.##0,00",
            {
                reverse: true
            });
        $('.input-phoneus').mask('(000) 000-0000');
        $('.input-mixed').mask('AAA 000-S0S');
        $('.input-ip').mask('0ZZ.0ZZ.0ZZ.0ZZ',
            {
                translation:
                {
                    'Z':
                    {
                        pattern: /[0-9]/,
                        optional: true
                    }
                },
                placeholder: "___.___.___.___"
            });
        // editor
        var editor = document.getElementById('editor');
        if (editor) {
            var toolbarOptions = [
                [
                    {
                        'font': []
                    }],
                [
                    {
                        'header': [1, 2, 3, 4, 5, 6, false]
                    }],
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [
                    {
                        'header': 1
                    },
                    {
                        'header': 2
                    }],
                [
                    {
                        'list': 'ordered'
                    },
                    {
                        'list': 'bullet'
                    }],
                [
                    {
                        'script': 'sub'
                    },
                    {
                        'script': 'super'
                    }],
                [
                    {
                        'indent': '-1'
                    },
                    {
                        'indent': '+1'
                    }], // outdent/indent
                [
                    {
                        'direction': 'rtl'
                    }], // text direction
                [
                    {
                        'color': []
                    },
                    {
                        'background': []
                    }], // dropdown with defaults from theme
                [
                    {
                        'align': []
                    }],
                ['clean'] // remove formatting button
            ];
            var quill = new Quill(editor,
                {
                    modules:
                    {
                        toolbar: toolbarOptions
                    },
                    theme: 'snow'
                });
        }
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
    <script>
        var uptarg = document.getElementById('drag-drop-area');
        if (uptarg) {
            var uppy = Uppy.Core().use(Uppy.Dashboard,
                {
                    inline: true,
                    target: uptarg,
                    proudlyDisplayPoweredByUppy: false,
                    theme: 'dark',
                    width: 770,
                    height: 210,
                    plugins: ['Webcam']
                }).use(Uppy.Tus,
                    {
                        endpoint: 'https://master.tus.io/files/'
                    });
            uppy.on('complete', (result) => {
                console.log('Upload complete! We’ve uploaded these files:', result.successful)
            });
        }
    </script>
    <script src="js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-56159088-1');
    </script>
</body>
</html>