@model DisputeFeedbackViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var now = DateTime.Now;
}

<div class="card shadow mb-4">
    <div class="card-header">
        <strong class="card-title">Pending Feedback Dispute</strong>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Transaction ID</th>
                    <th>AgentID</th>
                    <th>TL Name</th>
                    <th>Monitor By</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DisputeList != null && Model.DisputeList.Any())
                {
                    @foreach (var item in Model.DisputeList)
                    {
                        <tr>
                            <td>@item.TransactionID</td>
                            <td>@item.AgentID</td>
                            <td>@item.TLName</td>
                            <td>@item.MonitorBy</td>
                            <td>
                                <a href="/QAManager/EditAgentFeedBack?TransactionID=@item.TransactionID" class="btn btn-primary btn-sm">
                                    View
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No pending feedback.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <strong class="card-title"> Online assessment</strong>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Test Name</th>
                        <th>Test Category</th>
                        <th>Date</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.assmentonl != null && Model.assmentonl.Any())
                    {
                        foreach (var item in Model.assmentonl)
                        {
                            bool isExpired = false;

                            if (item.expiryType == "date")
                            {
                                if (item.expiryDate < now)
                                {
                                    isExpired = true;
                                }
                            }
                            else if (item.expiryType == "hours")
                            {
                                var expiryDateTime = item.CreatedDate.AddHours(item.expiryHours);
                                if (expiryDateTime < now)
                                {
                                    isExpired = true;
                                }
                            }

                            var rowClass = isExpired ? "table-danger" : "";

                            <tr class="@rowClass">
                                <td>@item.TestName</td>
                                <td>@item.TestCategory</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a href="/QAManager/AttempAssesment?TestID=@item.TestID" class="btn btn-primary btn-sm">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" class="text-center">No pending feedback.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-header">
        <strong class="card-title">ZT Cases QA Manager View</strong>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ProgramID</th>
                    <th>SubProgramID</th>
                    <th>AgentName</th>
                    <th>EmployeeID</th>
                    <th>AgentSupervsor</th>
                    <th>ZTRaisedBy</th>
                    <th>ZTRaisedDate</th>
                    <th>TransactionDate</th>
                    <th>ZTClassification</th>
                    <th>TransactionID</th>
                    <th>View</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ZTcaseList != null && Model.ZTcaseList.Any())
                {
                    @foreach (var item in Model.ZTcaseList)
                    {
                        <tr>
                            <td>@item.ProgramID</td>
                            <td>@item.SubProgramID</td>
                            <td>@item.AgentName</td>
                            <td>@item.EmployeeID</td>
                            <td>@item.AgentSupervsor</td>
                            <td>@item.ZTRaisedBy</td>
                            <td>@item.ZTRaisedDate</td>
                            <td>@item.TransactionDate</td>
                            <td>@item.ZTClassification</td>
                            <td>@item.TransactionID</td>
                          
                            <td>
                                <a href="/QAManager/ZeroTolerance?TransactionID=@item.TransactionID" class="btn btn-primary btn-sm">
                                    View
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No pending Zt Cases.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


</div>





<div class="card shadow mb-4">
    <div class="card-header">
        <strong class="card-title">Coaching </strong>
        <div>
            <span class="badge badge-success" style="background-color: #d4edda; color: #155724; padding: 5px 10px; border-radius: 5px;">On-Going</span>
            <span class="badge badge-warning" style="background-color: #fff3cd; color: #856404; padding: 5px 10px; border-radius: 5px;">Extended</span>
            <span class="badge badge-danger" style="background-color: #f8d7da; color: #721c24; padding: 5px 10px; border-radius: 5px;">PIP</span>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>AgentID</th>
                    <th>Process</th>
                    <th>SubProcess</th>
                    <th>1st Review</th>
                    <th>Comment 1</th>
                    <th>2nd Review</th>
                    <th>Comment 2</th>
                    <th>3rd Review</th>
                    <th>Comment 3</th>
                    <th>4th Review</th>
                    <th>Comment 4</th>
                    <th>5th Review</th>
                    <th>Comment 5</th>
                    <th>6th Review</th>
                    <th>Comment 6</th>
                    <th>View</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.ReviewDataModel != null && Model.ReviewDataModel.Any())
                {
                    @foreach (var item in Model.ReviewDataModel)
                    {
                        string rowClass = "";
                        if (item.CoachingStatus == "PIP")
                        {
                            rowClass = "table-danger"; // Red
                        }
                        else if (item.CoachingStatus == "Closed")
                        {
                            rowClass = "table-success"; // Green
                        }
                        else if (item.CoachingStatus == "Extended")
                        {
                            rowClass = "table-warning"; // Yellow
                        }
                        else if (item.CoachingStatus == "NotExtended")
                        {
                            rowClass = "table-success"; // Yellow
                        }
                        <tr class="@rowClass">
                            <td>@item.AgentID</td>
                            <td>@item.ProcessName</td>
                            <td>@item.SubProcess</td>
                            <td>@item.FirstReview</td>
                            <td>@item.Comment1</td>
                            <td>@item.SecondReview</td>
                            <td>@item.Comment2</td>

                            <td>@item.ThirdReview</td>

                            <td>@item.Comment3</td>

                            <td>@item.FourthReview</td>

                            <td>@item.Comment4</td>

                            <td>@item.FifthReview</td>

                            <td>@item.Comment5</td>
                            <td>@item.SixReview</td>
                            <td>@item.Comment6</td>
                            <td>
                                <a href="/QAManager/SubmiteCoaching?AgentID=@item.AgentID" class="btn btn-primary btn-sm">
                                    View
                                </a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center">No pending feedback.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>


    


</div>



<script src="~/js/jquery.min.js"></script>
@await Html.PartialAsync("_MailModal")
<script src="~/js/xlsx.full.min.js"></script>

<script src="~/js/notification.js"></script>
