@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.ErrorLog != null)
{
    <div class="alert alert-success">
        @ViewBag.ErrorLog
       
    </div>
}



<form class="AdminCreateio" action="CreateUser" method="post" onsubmit="return validateForm()">
    <div class="col-md-12 my-4">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label>Account Name</label>
                            <select id="accountDropdown" name="AccountID" class="form-control" onchange="callCSharpMethod(this)">
                                <option value="">Select an Account</option>
                                @foreach (var account in Model)
                                {
                                    <option value="@account.Value">@account.Text</option>
                                }
                            </select>
                        </div>
                      
                    </div>
                    <div class="col-md-6">
                        <br />
                        <br />
                       
                        <div class="form-group mb-3">
                            <label ></label>
                            <button type="button" id="AddUser" class="btn btn-primary" style="visibility:hidden;margin-top: -13px;" onclick="ShowUserCreation()">Add User</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="UserCardBody" style="visibility:hidden" class="col-md-12 my-4">
        <div class="card shadow">
            <div class="card-body">
                <table id="UserTable" style="visibility:hidden" class="table table-bordered table-hover mb-0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>User Type</th>
                            <th>Is Active</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 my-4" id="CrardUserDiv" style="visibility:hidden">
        <div class="card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label style="visibility:hidden" id="lblUser">User Name</label> <span style="color:red">*</span>
                            <input type="text" required id="txtAdmin" style="visibility:hidden" value="____" name="UserName" autocomplete="off" class="form-control" oninput="restrictBackspace(event)" onkeydown="preventDeleteBackspace(event)" />
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label style="visibility:hidden" id="lblpass">Password</label> <span style="color:red">*</span>
                            <input type="password" required id="txtPassword" style="visibility:hidden" name="Password" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label style="visibility:hidden" id="lblphone">Phone</label> <span style="color:red">*</span>
                            <input type="text" id="txtphone" required style="visibility:hidden" oninput="validatePhone(this)" name="Phone" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <label style="visibility:hidden" id="lblemail">Email</label> <span style="color:red">*</span>
                            <input type="email" required style="visibility:hidden" id="txtemail" name="Email" class="form-control" />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group mb-3">
                            <button id="SubBTN" type="submit" style="visibility:hidden" class="btn btn-primary">Create Admin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

  

</form>



<script>
    function validateForm() {
        const userName = document.getElementById("txtAdmin").value.trim();

    if (userName.length <= 9) {
        alert("Username must be more than 9 characters.");
        return false;
    }



    return true;
    }
</script>

<script type="text/javascript">
    function validatePhone(input) {
        input.value = input.value.replace(/\D/g, '');
        if (input.value.length > 10) {
            input.value = input.value.substring(0, 10);
            alert("Phone number can only be 10 digits.");
        }
    }
    function ShowUserCreation() {

        document.getElementById("txtAdmin").style.visibility = "visible";
        document.getElementById("txtPassword").style.visibility = "visible";
        document.getElementById("lblUser").style.visibility = "visible";
        document.getElementById("lblpass").style.visibility = "visible";
        document.getElementById("SubBTN").style.visibility = "visible";
        document.getElementById("CrardUserDiv").style.visibility = "visible";

        document.getElementById("lblphone").style.visibility = "visible";
        document.getElementById("txtphone").style.visibility = "visible";
        document.getElementById("lblemail").style.visibility = "visible";
        document.getElementById("txtemail").style.visibility = "visible";
        

        return;
    }
    function callCSharpMethod(selectElement) {
        document.getElementById("AddUser").style.visibility = "visible";
        document.getElementById("txtAdmin").style.visibility = "hidden";
        document.getElementById("txtPassword").style.visibility = "hidden";
        document.getElementById("lblUser").style.visibility = "hidden";
        document.getElementById("lblpass").style.visibility = "hidden";
        document.getElementById("SubBTN").style.visibility = "hidden";
        document.getElementById("CrardUserDiv").style.visibility = "hidden";



        document.getElementById("lblphone").style.visibility = "hidden";
        document.getElementById("txtphone").style.visibility = "hidden";
        document.getElementById("lblemail").style.visibility = "hidden";
        document.getElementById("txtemail").style.visibility = "hidden";
        

        var selectedValue = selectElement.value;
        var selectedId = selectElement.id;
       

        $.ajax({
            url: '@Url.Action("BindAccountPrifix", "SuperAdmin")',
            type: 'POST',
            data: {
                accountId: selectedValue,
                elementId: selectedId
            },
            success: function (response) {

                $('#txtAdmin').val(response.accountPrifix + '_');

            },
            error: function (xhr, status, error) {
                console.error("Error calling C# method");
            }
        });


        $.ajax({
            url: '@Url.Action("GetAdminUsers", "SuperAdmin")',
            type: 'POST',
            data: {
                accountId: selectedValue
            },
            success: function (response) {
                if (response && response.length > 0) {
                    populateAdminTable(response);
                    document.getElementById("UserCardBody").style.visibility = "visible";
                    document.getElementById("UserTable").style.visibility = "visible";
                } else {
                    
                    document.getElementById("UserCardBody").style.visibility = "hidden";
                    document.getElementById("AdminCreateio").style.visibility = "hidden";
                }
            },
            error: function (xhr, status, error) {
                console.error("Error fetching admin users:", error);
            }
        });
    }
    function populateAdminTable(data) {
        var tableBody = document.querySelector("#UserTable tbody");
        tableBody.innerHTML = "";

        data.forEach(function (row) {
            var tableRow = `
                    <tr>
                        <td>${row.id}</td>
                        <td>${row.name}</td>
                        <td>${row.usertype}</td>
                        <td>${row.isactive ? "Yes" : "No"}</td>
                        <td>
                            <div class="custom-control custom-switch">
                                   
                                        <input type="checkbox" class="custom-control-input" id="chk_${row.id}" ${row.isactive ? "checked" : ""} onclick="updateStatus('${row.name}', this.checked)" />

                                <label class="custom-control-label" for="chk_${row.id}"></label>
                            </div>
                        </td>
                    </tr>`;
            tableBody.insertAdjacentHTML("beforeend", tableRow);
        });
    }

    function updateStatus(name, isChecked) {
      
        var status = isChecked ? 1 : 0;
   
        saveAccountStatus(name, status);
        
    }
    function saveAccountStatus(name, isChecked) {
        var status = isChecked ? 1 : 0;

        $.ajax({
            type: "POST",
            url: "/SuperAdmin/UpdateUserStatus",
            data: JSON.stringify({ accountId: name, isActive: status }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {

            },
            error: function (xhr, status, error) {
                alert("Error updating account status.");
            }
        });
    }
    function restrictBackspace(event) {
        var textbox = document.getElementById('txtAdmin');
        var length = textbox.value.length;

        if (length == 3) {
            if (textbox.value.endsWith('__')) {
                var dropdown = document.getElementById('accountDropdown');
                dropdown.selectedIndex = 0;
                __doPostBack('<%= AccountDropDown.UniqueID %>', '');
                textbox.value = textbox.value + '____'; 
            } else {
                textbox.value = textbox.value + '_';
            }
        }

        
        if (textbox.value.endsWith('__')) {
            var underscoreCount = (textbox.value.match(/_/g) || []).length;
            if (underscoreCount == 2) {
                textbox.value = '____';
                var dropdown = document.getElementById('accountDropdown');
                dropdown.selectedIndex = 0;
                __doPostBack('<%= AccountDropDown.UniqueID %>', '');
            }
        }

        
        if (length == 0) {
            textbox.value = '____';
            var dropdown = document.getElementById('accountDropdown');
            dropdown.selectedIndex = 0;
            __doPostBack('<%= AccountDropDown.UniqueID %>', '');
        }
    }
</script>
